* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 36pt;
    width: 100%;
}

.wrapper {
    justify-content: center;
    align-items: center;
    width: 50%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.element_wrapper {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    padding: 10px;
    margin: 10px 0px;
}

.element_wrapper a {
    display: block;
    color: white;
}

.element_wrapper:hover {
    background: #F2B999;
}

.uploading_link {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    margin-top: 20px;
}

.uploading_link a {
    display: block;
    color: white;
}

.uploading_link:hover {
    background: #F2B999;
}
